* {
  box-sizing: border-box;
}

body {
  color: white;
}

input {
  border: none;
  outline: none;
}
@keyframes zoomIn {
  from {
    transform: scale(0.2) translateY(-50px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 0.5s ease-out forwards;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 1px) rotate(-1deg);
  }
  40% {
    transform: translate(2px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 2px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -2px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-shake {
  animation: shake 0.4s infinite;
}

@keyframes rotate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.rotate {
  animation: rotate 55s linear infinite;
}

@layer utilities {
  @keyframes border-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-border-spin {
    animation: border-spin 4s linear infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-medium {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 14s linear infinite;
}
.animate-spin-medium {
  animation: spin-medium 9s linear infinite;
}
.animate-spin-fast {
  animation: spin-fast 5s linear infinite;
}

@keyframes wave {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.animate-wave {
  animation: wave 2s ease-in-out infinite;
}
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.delay-500 {
  animation-delay: 0.5s;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes typing-delay {
  0%,
  40% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-typing-delay {
  animation: typing-delay 0.1s steps(20, end) infinite;
}
