* {
  box-sizing: border-box;
}

body {
  color: white;
}

@keyframes zoomIn {
  from {
    transform: scale(0.2) translateY(-50px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 0.5s ease-out forwards;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 1px) rotate(-1deg);
  }
  40% {
    transform: translate(2px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 2px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -2px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-shake {
  animation: shake 0.4s infinite;
}

@keyframes rotate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.rotate {
  animation: rotate 55s linear infinite;
}

@layer utilities {
  @keyframes border-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-border-spin {
    animation: border-spin 4s linear infinite;
  }
}
