@import "tailwindcss";
@theme{
--color-primary-100: #87F54E;
--color-neutral:#ffffff
--color-black:#262626




--breakpoint-xs: 280px;
  --breakpoint-xsm: 320px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1920px;
}

